{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
<!--        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>-->
        <div class="row px-xl-5">
        {% for p in product %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img style="height: 300px"  class="img-fluid w-100 " src="{{p.image.url}}" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="{{p.get_url}}"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{p.name}}</a>
                        {% if p.offer %}
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{p.current_price}}</h5><h6 class="text-muted ml-2"><del>{{p.price}}</del></h6><h5 class="ps-4 text-danger">  {{p.offer_val}}%</h5>
                        </div>
                        {% else %}
                         <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{p.price}}</h5>
                        </div>
                        {% endif %}
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- Products End -->

{% endblock %}